<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
   https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--My settings-->
    <add key="DevMode" value="true"/>
    <add key="username" value="zhambylbeisenaly@gmail.com"/> 
    <add key="remember_me" value="true"/>
    <add key="test_url" value="https://stagingapi.shipox.com"/>
    <add key="live_url_1" value="https://prodapi.shipox.com"/>
    <add key="live_url_2" value="https://prodapi.safe-arrival.com"/>
    
    <add key="_authenticateUrl" value="/api/v1/customer/authenticate"/>
    <add key="_countryListUrl" value="/api/v1/country/list"/>
    <add key="_cityListUrl" value="/api/v1/cities"/>
    <add key="_cityItemUrl" value="/api/v1/city/"/>
    
    <add key="_packageMeuListUrl" value="/api/v2/package-menu"/>
    <add key="_priceListUrl" value="/api/v1/packages/prices"/>
    <add key="_priceListUrlV2" value="/api/v2/packages/plugin/prices/"/>
    <add key="_createOrderUrl" value="/api/v1/customer/order"/>
    
    <add key="_createOrderV2Url" value="/api/v2/customer/order"/>
    <add key="_marketplaceUrl" value="/api/v1/marketplace"/>
    <add key="_getOrderDetailsUrl" value="/api/v1/customer/order/order_number/"/>
    <add key="_getCityByName" value="/api/v1/city_by_name"/>
    
    <add key="_getLocationByAddress" value="/api/v1/coordinate_by_address"/> 
    <add key="_getAirwaybill" value="/api/v1/customer/order/%s/airwaybill"/>
    <add key="_updateOrderStatus" value="/api/v1/customer/order/{id}/status_update"/>
    <add key="_getServiceTypes" value="/api/v1/admin/service_types"/>
    <!--
     <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
    --> 
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
